a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
}

.wrapper p {
    margin: 5px 0;
}

.companies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.company {
    width: 790px;
    height: 114px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    margin: 10px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);

    &:hover {
        background-color: #f8f8f8;
        transform: scale(1.03);
    }
}

.logo {
    width: 90px;
    height: 90px;
    border-radius: 6px;
    object-fit: contain;
}
.information {
    width: 83%;
    margin-left: 20px;
}
.name {
    color: #334680;
    font-family: Roboto;
    font-size: 19px !important;
    font-weight: 700;
    margin-top: 0 !important;
}

.vacancy {
    color: #334680;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.workingTime {
    width: 63px;
    height: 26px;
    border-radius: 4px;
    border: 1px solid #334680;

    display: flex;
    justify-content: center;
    align-items: center;
}

.workingTime p {
    color: #334680;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
}

.moreDetails {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.workingPlace {
    margin-right: 15px;
}

.workingPlace,
.postingTime {
    display: flex;
    align-items: center;
}

.workingPlace icon,
.postingTime icon {
    display: flex;
    align-items: center;
}

.workingPlace p,
.postingTime p {
    color: #b9bdcf;
    font-family: Roboto;
    font-size: 11px !important;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 5px;
}

.pagesContainer {
    width: 90% !important;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.pages {
    display: flex;
    justify-content: space-around;
    margin: 0 30px 0 30px;
}

.page {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #b7bcce;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #334680;
        cursor: pointer;
    }

    &:active {
        transform: scale(0.95);
    }
}

.page p {
    color: #b9bdcf;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}
.active {
    background-color: #334680;
}
.more {
    border: none;
}

.backToTopButton {
    position: fixed;
    bottom: 50px;
    right: 70px;
    background-color: #ddd8d8;
    color: #fff;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
    margin-bottom: 10px;
}

.backToTopButton:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltiptext {
    width: 80px;
    display: block;
    text-align: center;
}

/* RESPONSIVE */
//Tablet
@media (min-width: 641px) and (max-width: 960px) {
}
// Mobile
@media (max-width: 640px) {
    .wrapper {
        width: 90%;
        margin-top: -100px;
        margin-right: 10% !important;
    }
    .company {
        width: 100%;
        height: 150px;
        border-radius: 10px;
        margin-bottom: 10px;
        justify-content: center;
        gap: 5%;
    }
    .logo {
        width: 75px;
        height: 75px;
    }
    .information {
        width: 60%;
    }
    .name {
        font-size: 18px;
    }
    .vacancy {
        font-size: 16px;
    }
    .details {
        width: 100%;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    .workingTime {
        width: 65px;
        height: 25px;
    }
    .workingTime p {
        font-size: 12px;
    }
    .moreDetails {
        width: 100%;
        justify-content: space-between;
    }
    .workingPlace p,
    .postingTime p {
        font-size: 10px;
    }

    .workingPlace svg,
    .postingTime svg {
        width: 18px;
        height: 18px;
    }
    .pagesContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 5%;
        background-color: red;
    }
    .pages {
        width: 80%;
        justify-content: space-between;
        margin: 0 20px 0 20px;
    }
    .page {
        width: 8%;
        height: 30px;
        border-radius: 5px;
    }
    .page svg {
        width: 80%;
        height: 80%;
    }
    .page p {
        font-size: 12px;
    }
    .backToTopButton {
        bottom: 90px;
        right: 30px;
    }
    .backToTopButton svg {
        width: 25px;
        height: 25px;
    }
    .tooltip {
        display: none;
    }
}
