.wrapper {
    width: 45%;
    height: 260px;
}
.backToSearch {
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid transparent;

    &:hover {
        border-color: #1e86ff;
    }
}
.backToSearch svg {
    width: 26px;
    height: 26px;
}
.backToSearch p {
    color: #1e86ff;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
}

.applyingMethod {
    width: 232px;
}
.applyingMethod p:first-child {
    color: #b9bdcf;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.applyingMethod p:last-child {
    color: #334680;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}

.applyingMethod a {
    color: #1e86ff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

/* RESPONSIVE */
//Tablet
@media (min-width: 641px) and (max-width: 960px) {
}
// Mobile
@media (max-width: 640px) {
    .wrapper {
        width: 100%;
        margin-top: -40px;
    }
    .backToSearch {
        width: 150px;
        height: 40px;
        border-radius: 10px;

        &:active {
            border-color: #1e86ff;
        }
    }
    .backToSearch svg {
        width: 24px;
        height: 24px;
    }
    .backToSearch p {
        font-size: 18px;
    }
    .applyingMethod {
    }
    .applyingMethod p:first-child {
        font-size: 20px;
    }
    .applyingMethod p:last-child {
        font-size: 17px;
    }
    .applyingMethod a {
        font-size: 17px;
    }
}
