.wrapper {
    width: 100%;
    height: 138px;
    border-radius: 10px;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190828/pngtree-design-background-of-person-working-on-his-computer-in-top-view-image_307725.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    width: 790px;
    height: 55px;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searchIcon {
    margin-left: 10px;
}
.searchInput {
    width: 70%;
    color: #b9bdcf;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
}

.clear,
.loading {
    display: flex;
    align-items: center;
    color: rgba(22, 24, 35, 0.34);
    padding: 5px;
    cursor: pointer;
}

.loading {
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.searchBtn {
    width: 146px;
    height: 48px;
    border-radius: 4px;
    background-color: #1e86ff;
    border: none;

    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    caret-color: black;

    &:hover {
        background-color: #3592fb;
        cursor: pointer;
    }
}

.results {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 50px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
}

.result {
    width: 800px;
    display: flex;
    align-items: center;

    &:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }

    &:first-child {
        margin-top: 10px;
    }

    &:last-child {
        margin-bottom: 10px;
    }
}

.magnifyingGlass {
    margin: 0 20px 0 20px;
    color: #b9bdcf;
}

/* RESPONSIVE */
//Tablet
@media (min-width: 641px) and (max-width: 960px) {
}
// Mobile
@media (max-width: 640px) {
    .wrapper {
        width: 90%;
        height: 150px;
        display: flex;
        justify-content: center;
        border-radius: 15px;
        margin-left: 0;
    }

    .search {
        width: 90%;
        height: 55px;
        justify-content: space-between;
        border-radius: 10px;
        gap: 10px;
    }
    .searchIcon svg {
        width: 18px;
        height: 18px;
    }

    .searchInput {
        width: 85%;
        font-size: 15px;
    }

    .searchBtn {
        width: 105px;
        height: 45px;
        border-radius: 6;
        display: none;
    }

    .results {
        width: 350px;
        border-radius: 20px;
        max-height: 800px;
        overflow: scroll;
    }
    .result {
        width: 100%;
        font-size: 16px;
        gap: 10px;
    }
    .magnifyingGlass {
        font-size: 15px;
    }

    .clear {
        font-size: 15px;
    }
}
