.wrapper {
    width: 100%;
    height: 138px;
    border-radius: 10px;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190828/pngtree-design-background-of-person-working-on-his-computer-in-top-view-image_307725.jpg');
    // background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    width: 790px;
    height: 55px;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searchIcon {
    margin-left: 10px;
}
.searchInput {
    width: 70%;
    color: #b9bdcf;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    caret-color: black;
}

.clear,
.loading {
    display: flex;
    align-items: center;
    color: rgba(22, 24, 35, 0.34);
    padding: 5px;
    cursor: pointer;
}

.loading {
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.searchBtn {
    width: 146px;
    height: 48px;
    border-radius: 4px;
    background-color: #1e86ff;
    border: none;

    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    caret-color: black;

    &:hover {
        background-color: #3592fb;
        cursor: pointer;
    }
}

.results {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 50px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;

    
}
.result {
    width: 800px;
    display: flex;
    align-items: center;

    &:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }

    &:first-child {
        margin-top: 10px;
    }

    &:last-child {
        margin-bottom: 10px;
    }

    // &:hover:first-child {
    //     border-top-left-radius: 8px;
    //     border-top-right-radius: 8px;
    // }

    // &:hover:last-child {
    //     border-bottom-left-radius: 8px;
    //     border-bottom-right-radius: 8px;
    // }
}

.magnifyingGlass {
    margin: 0 20px 0 20px;
    color: #b9bdcf;
}


/* RESPONSIVE */
//Tablet
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    
}
// Mobile
@media (max-width: 46.1875em) {
    .wrapper {
        width: 120%;
        height: 400px; 
        // margin-left: 2.5%;
        display: flex;
        justify-content: center;
        border-radius: 20px;
    }

    .search {
        width: 90%; 
        height: 200px;
        justify-content: center;
        border-radius: 20px;
        gap: 30px;
    }
    .searchIcon svg{
        width: 80px;
        height: 80px;
    }

    .searchInput {
        width: 80%; 
        font-size: 50px;
    }

    .searchBtn {
        display: none;
    }

    .results {
        width: 1306px;
        border-radius: 20px;
        max-height: 800px;
        overflow: scroll;
    }
    .result {
        font-size: 50px;
        gap: 20px;
        margin-left: 20px;
    }
    .magnifyingGlass {
        font-size: 60px;
    }

    .clear {
        font-size: 40px;
    }
}
