.App {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #f6f7fb;
    padding-bottom: 50px;
}

p, strong {
    font-family: Poppins;
    font-style: normal;
    line-height: normal;
}

.Inner strong {
    font-family: Poppins;
    color: #282538;
    font-size: 30px;
    font-weight: 700;
}

.title {
    font-size: 30px;
}

.Inner {
    width: 1200px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
}

.body {
    margin-top: 30px;
    display: flex;
    min-height: 365px;
}


/* RESPONSIVE */
/* Tablet */
@media (min-width: 641px) and (max-width: 960px) {
    
}
/* Mobile */
@media (max-width: 640px) {
    .App {
        width: 100vw;
        flex-direction: column;
    }
    .Inner {
        width: 90%;
        margin-left: 5%;
    }
    .Inner strong{
        font-size: 24px;
        /* margin-left: 10%; */
    }
    .title {
        font-size: 24px;
    }
    .body {
        flex-direction: column;
        align-items: center;
    }
}